#countLabel{
    display:block;
    text-align: center;
    font-size:10em;
    font-family: 'Times New Roman', Times, serif;
}
#buttonContainer{
    text-align: center;

}
.buttons{
    padding : 10px 20px;
    font-size: 1.5em;
    color:white;
    background-color: rgb(111, 203, 212);
    border-radius: 5px;
    cursor:pointer;
    transition: background-color 0.5s;

}
.buttons:hover{
    background-color:rgb(15, 159, 172);
}