.color-title {
    font-weight: normal; 
    margin-bottom: 10px; 
  }
  
#red{
    color:red;
}
#blue{
    color:blue;
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#purple{
    color:purple;
}


img {
    width: 200px;  
    height: 200px; 
    object-fit: cover;  
}
img {
    border-radius: 18px; 
  }
