.color-title {
    font-weight: bold; 
    margin-bottom: 10px; 
  }
  
#red{
    color:red;
}
#blue{
    color:blue;
}
#orange{
    color:orange;
}
#green{
    color:green;
}
#purple{
    color:purple;
}


img {
    width: 100px;  /* Set the width to 100px */
    height: 100px;  /* Set the height to 100px */
    object-fit: cover;  /* Ensures the image covers the square area without distortion */
}
img {
    border-radius: 18px; /* Or a very small value like 1px */
  }